img {
    width: 300px;
}

.redtext {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
}

.simg {
    width: 400px;
    border-radius: 4px;
    border: 2px solid red;
}