img {
    margin: 30px;
    width: 300px;
}

.highlite {
    margin: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
}

.simg {
    width: 100px;
    border-radius: 6px;
    border: 2px solid rgb(152, 38, 38);
}